@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';


body {
  font-family: 'Cairo', sans-serif;
  background-color: #f7fafc;
  color: #1a202c;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cairo', sans-serif;
}

.bg-hero-pattern {
  background-image: url('../public/images/hero/hero-bg.jpg'); /* تأكد من وجود الصورة */
}

button, a {
  transition: all 0.3s ease;
}

button:hover, a:hover {
  transform: scale(1.05);
}

input, textarea {
  font-family: 'Cairo', sans-serif;
}